# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [1]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [3]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python

a[-3:]

[4, 5, 6]

In [5]:
# create a list of numbers from 1 to 20

list(range(1,21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell

list(range(2, 101, 2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [7]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second

def divide_numbers(num1, num2):
    if num2 == 0:
        return "Division by zero is not allowed"
    return num1 / num2

In [8]:
# write a function that takes a string as input
# and return that string in all caps

def to_uppercase(input_string):
    return input_string.upper()

In [9]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

for i in range(1, 31):
    if i % 3 == 0 and i % 5 == 0:
        print("fizzbuzz")
    elif i % 3 == 0:
        print("fizz")
    elif i % 5 == 0:
        print("buzz")
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [10]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

menu_pricing = {
    'Gyro': 9,
    'Burger': 9,
    'Greek Salad': 8,
    'Philly Steak': 10
}

# To display the menu and pricing
for item, price in menu_pricing.items():
    print(f"{item}: ${price}")

Gyro: $9
Burger: $9
Greek Salad: $8
Philly Steak: $10

In [12]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial

import pandas as pd

df = pd.read_csv("../data/cereal.csv")

In [13]:
# output the calories, sugars, and protein columns only of every 40th row.
# Output the 'calories', 'sugars', and 'protein' columns of every 40th row

print(df.loc[::40, ['calories', 'sugars', 'protein']])

    calories  sugars  protein
0         70       6        4
40       110       3        2

In [18]:
# select all rows with more than and including 400 calories

df[df['calories'] >= 400]

Empty DataFrame
Columns: [name, mfr, type, calories, protein, fat, sodium, fiber, carbo, sugars, potass, vitamins, shelf, weight, cups, rating]
Index: []

In [19]:
# select all rows whose vitamin c content is higher than the iron content

df[df['vitamins'] > (df['sodium'] + df['potass'])]

Empty DataFrame
Columns: [name, mfr, type, calories, protein, fat, sodium, fiber, carbo, sugars, potass, vitamins, shelf, weight, cups, rating]
Index: []

In [22]:
# create a new column containing the caffeine per calories of each drink

df['caffeine_per_calorie'] = None
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,caffeine_per_calorie
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,None
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,None
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,None
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,None
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843,None

In [23]:
# what is the average calorie across all items?

average_calories = df['calories'].mean()

print(f"The average calorie count across all items is {average_calories:.2f}")

The average calorie count across all items is 106.88

In [24]:
# how many different categories of beverages are there?

unique_categories = df['type'].nunique()

print(f"There are {unique_categories} different categories of beverages.")

There are 2 different categories of beverages.

In [25]:
# what is the average # calories for each beverage category?

average_calories_by_type = df.groupby('type')['calories'].mean()

print("Average number of calories for each beverage category:")
print(average_calories_by_type)

Average number of calories for each beverage category:
type
C    107.162162
H    100.000000
Name: calories, dtype: float64